<%
/**
 * Driver ejs file for {@link PageEngine}
 */

// Retrieve and set local variable defaults.
/** @type PageOptions */
const locals = vars;

let { title, subtitle, css, scripts,
    header, main, footer, user } = locals;

title = title || "";
subtitle = subtitle || "";
css = css || [];
scripts = scripts || [];
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%=title + (subtitle ? ": " + subtitle : "")%></title>

    <!-- htmx -->
    <script src="/scripts/thirdparty/htmx.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/styles/thirdparty/bootstrap.5.3.0.min.css" />
    <!--  global stylesheet  -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <% css.forEach(file => { %>
        <link rel="stylesheet" href="<%=file%>" />
    <% }); %>
</head>
<body>
    <% if (header && header.partial) { %>
    <header>
        <%- include(header.partial, header.locals || {})%>
    </header>
    <% } %>

    <% if (main && main.partial) { %>
    <main>
        <%- include(main.partial, main.locals || {}) %>
    </main>
    <% } %>

    <% if (footer && footer.partial) { %>
    <footer>
        <%- include(footer.partial, footer.locals || {}) %>
    </footer>
    <% } %>

    <% scripts.forEach(script => { %>
        <script src="<%=script%>"></script>
    <% }); %>
</body>
</html>
