<%
let { title, subtitle, css, scripts,
    header, main, footer, user } = vars;

title = title || ""
subtitle = subtitle || ""
css = css || [];
scripts = scripts || []
main = main || []
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%=title + (subtitle ? ": " + subtitle : "")%></title>

    <!-- htmx -->
    <script src="/scripts/thirdparty/htmx.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/styles/thirdparty/bootstrap.5.3.0.min.css" />
    <!--  global stylesheet  -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <% css.forEach(file => { %>
        <link rel="stylesheet" href="<%=file%>" />
    <% }); %>
</head>
<body>
    <% if (header && header.partial) { %>
    <header>
        <%- include(header.partial, Object.assign(header.vars || {}, {user}))%>
    </header>
    <% } %>

    <main>
        <% main.forEach(partialInfo => { %>
            <%- include(partialInfo.partial, partialInfo.vars || {}) %>
        <% }); %>
    </main>

    <% if (footer && footer.partial) { %>
    <footer>
        <%- include(footer.partial, footer.vars || {}) %>
    </footer>
    <% } %>

    <% scripts.forEach(script => { %>

    <% }); %>
</body>
</html>
