<%
const {user, coverFilePath, asset, assetFile} = locals;
console.log(coverFilePath);
%>



<section class="container">
    <a class="link mb-2" href="/portfolio">back to portfolio</a>
    <div class="position-relative">
        <!-- Edit audio asset -->
        <h1>Edit Track</h1>
        <a id="download-btn" class="btn" href="<%=assetFile.path%>" download="<%=assetFile.filename%>"><img src="/images/feather/download.svg"/></a>
        <form class="container-lg" method="post" action="/assets/<%= asset._id %>?_method=PUT" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="form-label" for="title">Title</label>
                <input id="title" type="text" class="form-control" name="title" value="<%=asset.meta.title%>" required>
            </div>
            <div id="cover-image-form-container">
                <div id="cover-image-container">
                    <img alt="Asset cover image" id="cover-image" src="<%=coverFilePath%>"/>
                </div>
                <div id="upload-file-container">
                    <div>
                        <label class="form-label" for="imageFile">Replace Cover Image</label>
                        <input class="form-control" type="file" id="imageFile" name="imageUpload" accept=".jpeg,.jpg,.png"/>
                    </div>
                    <div>
                        <label class="form-label" for="audioFile">Replace Audio File</label>
                        <input class="form-control" type="file" id="audioFile" name="audioUpload" accept=".wav,.mp3,.ogg">
                    </div>
                </div>
            </div>

            <!-- Audio Player -->
            <div class="audio-player mb-4" data-src="<%=assetFile.path%>">
                <div class="play-button-container">
                    <div class="play-button">
                        <img src="/images/feather/play.svg" />
                    </div>
                </div>
                <div class="audio-region">
                    <canvas></canvas>
                </div>
            </div>

            <h4>Credits</h4>
            <div class="form-control">
                <div class="btn-group-sm">
                    <button id="remove-credit" class="float-end btn btn-light" type="button">-</button>
                    <button id="add-credit" class="float-end btn btn-light" type="button">+</button>
                </div>

                <div id="credits">
                    <% if (asset.meta.credits.length === 0) { %>
                        <div>
                            <label class="form-label">Name<input required class="form-control" type="text" name="credits-name" value="<%= user.firstName + " " + user.lastName %>"/></label>
                            <label class="form-label">Role<input required class="form-control" type="text" name="credits-role" value="Artist"/></label>
                        </div>
                    <% } %>
                    <% asset.meta.credits.forEach((credit, i) => { %>
                        <% if (i === 0) { %>
                            <div>
                                <!-- Only add label names on the first pass -->
                                <label class="form-label">Name<input required class="form-control" type="text" name="credits-name" value="<%= credit.name %>"/></label>
                                <label class="form-label">Role<input required class="form-control" type="text" name="credits-role" value="<%= credit.role %>"/></label>
                            </div>

                        <% } else { %>
                            <div>
                                <label><input required class="form-control" type="text" name="credits-name" value="<%= credit.name %>"/></label>
                                <label><input required class="form-control" type="text" name="credits-role" value="<%= credit.role %>"/></label>
                            </div>

                        <% }%>
                    <% }); %>
                </div>

            </div>

            <input name="type" type="text" hidden required value="Audio" readonly/>

            <div id="form-button-container">
                <input type="submit" class="btn btn-primary" value="Update Track">
                <a href="/assets/<%=asset._id%>?_method=DELETE"><button class="delete-btn btn btn-outline-danger" type="button">Delete Track</button></a>
            </div>


        </form>
    </div>

</section>